* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
}

input {
    display: block;
}

h1 {
    max-width: 90%;
    margin: 0 auto;
    border-radius: 25px;
    text-align: center;
    font-size: 72px;
    padding: 50px;
    background-color: #ffae00;
    color: white;
}

.game {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px auto;
    max-width: 90%;

    & > div {
        width: 50%;
        border-radius: 25px;
        border: 2px solid #ffae00;
        overflow: hidden;
    }
}

.controls-container {
    width: 250px;
    margin: 0 auto;
}

.word-input {
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    font-size: 26px;
    font-weight: 800;
    caret-color: #ffae00;
    border: none;
}

.word-input:focus {
    outline: none;
}

.honeycomb {
    position: relative;
    width: 250px;
    height: 250px;
}

.honeycomb > :nth-child(1) {
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
}
.honeycomb > :nth-child(2) {
    top: 0;
    right: 50%;
    transform: translate(50%, 1%);
}
.honeycomb > :nth-child(3) {
    bottom: 0;
    right: 50%;
    transform: translate(50%, -1%);
}
.honeycomb > :nth-child(4) {
    left: 5%;
    top: 15%;
    transform: translate(1%, 5%);
}
.honeycomb > :nth-child(5) {
    left: 5%;
    bottom: 15%;
    transform: translate(1%, -5%);
}

.honeycomb > :nth-child(6) {
    right: 5%;
    top: 15%;
    transform: translate(-1%, 5%);
}

.honeycomb > :nth-child(7) {
    right: 5%;
    bottom: 15%;
    transform: translate(-1%, -5%);
}

.hex {
    position: absolute;
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    width: 85px;
    height: 85px;
    font-size: 28px;
    font-weight: 800;
    border: none;
}

.hex:active,
.shuffleButton:active,
.submitButton:active,
.resetButton:active {
    clip-path: polygon(
        32.5% 18.5%,
        67.5% 18.5%,
        85% 50%,
        67.5% 81.5%,
        32.5% 81.5%,
        15% 50%
    );
}

.center-letter {
    background-color: #ffae00;
}

.controls-buttons {
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shuffleButton {
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.shuffleButton,
.resetButton,
.submitButton {
    border: 1px solid lightgrey;
    background-color: white;
}

.resetButton,
.submitButton {
    text-transform: uppercase;
    border-radius: 30px;
    padding: 15px 20px;
}

.message {
    text-align: center;
    height: 25px;
    margin: 10px 0;
    font-size: 24px;
    font-weight: 600;
}

.message-error {
    border-color: #ff7070;
    color: #cf2424;
}

.message-success {
    text-transform: uppercase;
    border-color: #ffae00;
    color: #ba8700;
}

.message-info {
    border-color: #88aaff;
    color: #3263b2;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-family: Arial, sans-serif;
}

thead th {
    background-color: #ffae00;
    color: white;
    padding: 10px;
    text-align: left;
    font-weight: 700;
    border: 1px solid #ffd966;
}

tbody tr {
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

tbody td {
    padding: 10px;
    border: 1px solid #ddd;
}

.achieved {
    background-color: #ffae00;
    color: white;
    font-weight: bold;
}

.tabs {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 12px;
}

.tab {
    background-color: #ffae00;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab:hover {
    background-color: #ffcc33;
}

.selected-tab {
    background-color: lightgrey;
    color: #333;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    font-weight: 700;
    cursor: pointer;
}
